<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuCpVhQNCo7j0SpuLICAOZip4F7FEyYJk</string>
	<key>GCM_SENDER_ID</key>
	<string>199445334279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VibeLive</string>
	<key>PROJECT_ID</key>
	<string>vibelive-90cff</string>
	<key>STORAGE_BUCKET</key>
	<string>vibelive-90cff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199445334279:ios:bd31fdb1691b2bcbbc9da2</string>
</dict>
</plist>